@using Final_Project.Models
@model Property

<h1>Details Property</h1>

<div class="card col-3 m-4" style="width: 40rem;">
    <img src="@Model.LOGO" class="card-img-top" alt="..." />
    <div class="card-body">
        <h5 class="card-title">Address1 : @Model.Address1</h5>
        <p class="card-text">Address1 :  @Model.Address2</p>
        <p class="card-text">City :  @Model.City</p>
        <p class="card-text">Region : @Model.Region</p>
        <p class="card-text">NumBedrooms : @Model.NumBedrooms</p>
        <p class="card-text">NumBathrooms : @Model.NumBathrooms</p>
        @* <p class="card-text">PropertyStatus :  @Model.PropertyStatus</p>
        <p class="card-text">PropertyType : @Model.PropertyType</p> *@
    </div>
</div>





